:root {
  --background-color-white: #ffffff;
  --background-color-dark-blue: #2f303a;
  --background-color-light-grey: #f5f4fa;
  --background-color-blue: #2196f3;
  --background-color-grey: #afb1b8;
  --background-color-icon-black: rgba(255, 255, 255, 0.1);
  --background-color-dimness: rgba(47, 48, 58, 0.8);
  --color-white: #fff;
  --color-grey: #afb1b8;
  --color-dark: #212121;
  --color-black: #000000;
  --color-blue: #2196f3;
  --color-dark-grey: #757575;
  --color-light-grey: rgba(255, 255, 255, 0.6);
  --color-border: #ececec;
  --t-duration: 250ms;
  --t-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto";
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--color-dark);
  background-color: var(--background-color-white);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  font-size: 100%;
  list-style-type: none;
}

/* LOGO */

.header {
  border-bottom: 1px solid var(--color-border);
}
.menu-index {
  display: flex;
  align-items: center;
}
.logo {
  padding: 24px 0 25px 15px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-blue);
  text-decoration: none;
}
.logo-black {
  color: var(--color-black);
}
.logo-white {
  color: var(--color-white);
}

/*              NAV         */

.nav-margin {
  margin-left: 93px;
  width: 254px;
}
.list-nav-index,
.list-adr-index {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.menu-margin {
  padding-right: 21px;
  margin-left: 345px;
  width: 342px;
}
.links-menu {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.mail-menu {
  display: flex;
  width: 161px;
  justify-content: space-between;
  align-items: center;
}
.tel-menu {
  display: flex;
  width: 130px;
  justify-content: space-between;
  align-items: center;
}
.dark {
  color: inherit;
}
.blue {
  color: var(--color-blue);
}
.dark-grey {
  color: var(--color-dark-grey);
  fill: var(--color-dark-grey);
}
.white {
  color: var(--color-white);
}
.light-grey {
  color: var(--color-light-grey);
}
.dark:hover,
.dark-grey:hover,
.light-grey:hover,
.dark:focus,
.dark-grey:focus,
.light-grey:focus {
  color: var(--color-blue);
  fill: var(--color-blue);
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
}
.links-menu.blue::after {
  content: "";
  position: absolute;
  width: 53px;
  height: 4px;
  top: 45px;
  left: 0px;
  background: var(--background-color-blue);
  border-radius: 2px;
}

/* HEADER & BUTTON*/

.header-index {
  margin: 0 auto;
  padding-block: 200px;
  max-width: 1600px;
  height: 600px;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/photo-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header-text-index {
  margin: 0 auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color-white);
  text-align: center;
}
.button-index {
  display: block;
  margin: 30px auto 0;
  padding-block: 10px;
  padding-inline: 41px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
}

/* CONTAINER & SECTIONs */

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}
.section {
  padding-block: 94px;
}
.section-buttons {
  padding: 6px 22px;
}

/* OUR STRENGTHS  */

.icon-box {
  margin-bottom: 30px;
  padding: 25px 100px;
  background-color: var(--background-color-light-grey);
}
.list-lorem-index {
  display: flex;
  justify-content: space-around;
}
.icon-our-strengths {
  width: 70px;
  height: 70px;
}
.box-lorem-index {
  margin-inline: 15px;
}
.lorem-text-index {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.box-lorem-index-left {
  margin-right: 15px;
  padding-left: 15px;
}
.box-lorem-index-right {
  margin-left: 15px;
  padding-right: 15px;
}
.description-lorem-index {
  margin-top: 10px;
  line-height: 1.71;
  color: var(--color-dark-grey);
}

/* WHAT DO WE DO */

.header-what-do-we-do-index {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
.image-list-index {
  margin-top: 50px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}
.what-do-we-do-list {
  height: 294px;
}
.what-do-we-do-image {
  display: block;
}
.dimnest {
  display: flex;
  width: 370px;
  height: 70px;
  background: var(--background-color-dimness);
  top: -70px;
  font-weight: 700;
  line-height: 1.14;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--color-white);
}

/* OUR TEAM */

.our-team-index {
  text-align: center;
  background-color: var(--background-color-light-grey);
}
.header-our-team-index {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.list-team-index {
  margin-top: 50px;
  display: flex;
  font-size: 16px;
  line-height: 1.18;
  gap: 30px;
}
.image-team-index {
  margin: 0 0 0 0;
  background-color: var(--background-color-white);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0px 0px 4px 4px;
}
.description-margin {
  margin-top: 30px;
}
.our-team-description {
  font-weight: 500;
}
.our-team-text {
  margin-top: 10px;
  padding-bottom: 30px;
  color: var(--color-dark-grey);
}
.icons-list {
  padding-inline: 32px;
  padding-top: 16px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

/* -------------  ICONS   OUR TEAM ---------- */

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--background-color-white);
  border-radius: 50%;
  fill: var(--background-color-grey);
}
.social-icon {
  width: 20px;
  height: 20px;
}
.social-links:hover,
.social-links:focus {
  background-color: var(--background-color-blue);
  fill: var(--background-color-white);
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
}

/* ----------OUR CLIENTS-------------- */

.our-clients {
  padding-inline: 15px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.list-icons-footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
}

/* ------------ ICONS OUR CLIENTS  ----------- */

.icon-size {
  width: 106px;
  height: 60px;
}
.icon-our-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--background-color-white);
  border: 1px solid var(--color-grey);
  fill: var(--background-color-grey);
}
.icon-our-clients:hover,
.icon-our-clients:focus {
  border: 1px solid var(--color-blue);
  fill: var(--color-blue);
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
}

/* ----------FOOTER -----------*/

.footer-index,
.footer-portfolio {
  padding-block: 60px;
  font-style: inherit;
  background-color: var(--background-color-dark-blue);
}
.footer-wraper {
  display: flex;
  align-items: baseline;
}
.logo-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-blue);
  text-decoration: none;
}
.list-footer {
  margin-top: 20px;
}
.adress-footer,
.links-footer {
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
}
.footer-margin {
  margin-top: 9px;
}
.second-footer {
  margin-left: 70px;
}
.join-us {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-white);
}

/* ----------  ICONS  JOIN US  ---------- */

.social-list-black {
  display: flex;
  justify-content: space-between;
  width: 206px;
}
.social-links-black {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--background-color-icon-black);
  border-radius: 50%;
  fill: var(--background-color-white);
}
.social-links-black:hover,
.social-links-black:focus {
  background-color: var(--background-color-blue);
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
}

/* ----------  SUBSCRIBE TO THE NEWSLETTER  ---------- */

.third-footer {
  margin-left: 78px;
}
.subscribe {
  margin-bottom: 20px;
  display: block;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-white);
}
.signup-form {
  margin-top: 20px;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 570px;
}
.sign-up-input {
  padding-left: 15px;
  width: 358px;
  height: 50px;
  color: var(--color-white);
  background-color: var(--background-color-dark-blue);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.sign-up-input:hover {
  border-color: var(--color-blue);
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
}
.sign-up-input:focus-within {
  border: 3px solid var(--color-blue);
  outline: none;
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
}
.sign-up-button {
  padding-top: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background: var(--background-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

/*--------- MODAL WINDOW ------------*/

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  left: 0px;
  top: 0px;
  transition-property: opacity, transform, visibility;
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: rotate(180deg);
}
.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: var(--background-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
/*--------- MODAL INPUTS ------------*/

.modal-header {
  padding-top: 40px;
  margin-bottom: 12px;
  display: block;
  /* background-color: coral; */
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--color-dark);
}
.modal-container {
  padding-left: 40px;
  /* background-color: gold; */
}
.modal-label {
  margin-bottom: 4px;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color-dark-grey);
  resize: none;
}
.modal-input-group {
  position: relative;
}
.modal-input-group:hover {
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
  fill: var(--color-blue);
  border-color: var(--color-blue);
}
.modal-input-group:focus-within {
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
  fill: var(--color-blue);
}
.modal-input-icon {
  position: absolute;
  top: 15px;
  left: 15px;
}
.input-contact-details {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline-color: var(--color-blue);
}
.input-contact-details:hover {
  border-color: var(--color-blue);
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
}
.input-contact-details.forty {
  padding-left: 42px;
  height: 40px;
}
textarea[id="comment"].input-contact-details::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.input-contact-details.comment {
  margin-bottom: 0px;
  padding-top: 12px;
  padding-left: 16px;
}
.modal-statement {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 8px;
  position: relative;
  /* background-color:aquamarine; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 400;
  line-height: 1.71;
  color: var(--color-dark-grey);
}
.regulations-policy {
  color: var(--color-blue);
}
.square {
  position: absolute;
  z-index: 4;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 15px;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
}
.modal-checkbox {
  visibility: hidden;
}
.checkbox-icon {
  position: absolute;
  top: 4px;
  left: 4px;
}
.modal-checkbox:checked + span svg {
  z-index: 5;
  fill: var(--color-blue);
  stroke: var(--color-blue);
  stroke-width: 2px;
}
.modal-button-send {
  margin: 0 auto;
  padding: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-white);
  text-align: center;
  background: var(--background-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}
.cross-plus-circle {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 3;
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--background-color-white);
}
.button-cross {
  position: absolute;
  top: 20%;
  left: 18%;
  display: flex;
  width: 18px;
  height: 18px;
}

/* PORTFOLIO */
/* PORTFOLIO BUTTONS */
.main-portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}
.buttons-margin {
  margin-bottom: 50px;
}
.list-button-portfolio {
  display: flex;
  justify-content: center;
}
.button-portfolio {
  margin-inline: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background: var(--background-color-light-grey);
  border-radius: 4px;
  border: var(--background-color-light-grey);
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--color-white);
  background: var(--color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
}

/* PORTFOLIO PICTURES */

.picture-box-portfolio {
  /* padding-bottom: 94px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.picture-portfolio {
  margin: 0 0 0 0;
  border-bottom: 1px solid #eeeeee;
  width: 370px;
}
.picture-portfolio:hover,
.picture-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
}
.picture-margin {
  margin-top: 20px;
}
.picture-header-portfolio {
  padding-left: 24px;
  z-index: 3;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.picture-description-portfolio {
  margin-top: 4px;
  padding-bottom: 20px;
  padding-left: 24px;
  z-index: 3;
  font-size: 16px;
  line-height: 1.87;
  /* letter-spacing: 0.03em; */
  color: var(--color-dark-grey);
}
.pointer {
  cursor: pointer;
}

/* PORTFOLIO OVERLAY */

.blue-box {
  margin-inline: auto;
  position: relative;
  width: 370px;
  height: 294px;
  background-color: var(--background-color-blue);
  overflow: hidden;
}
.picture-portfolio:hover .overlay {
  transform: translateX(0);
  transition-duration: var(--t-duration);
  transition-timing-function: var(--t-timing-function);
}
.overlay {
  position: absolute;
  top: 0px;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translate(0, 300px);
}
.overlay-text {
  margin: 0;
  padding-top: 49px;
  padding-left: 24px;
  width: 301px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--color-white);
}
